/**
 * Технически мы можем импортировать данный файл не на глобальном уровне,
 * а внутри одного из селекторов другого файла.
 * Тем самым, переменные не будут иметь глобальной области видимости,
 * и мы можем дать им более короткие имена.
 *
 * Однако, объявление @mixin пока (в текущей редакции языка SASS)
 * допустимо только на глобальном уровне,
 * поэтому мы не сможем использовать в @mixin неглобальные переменные.
 */


$df_shipping_torg12__width: 275.4mm;

$df_shipping_torg12__font_size_normal: 3mm;

$df_shipping_torg12__font_size_labelBottom: 2.5mm;

$df_shipping_torg12__font_size_labelLeft: 3mm;

$df_shipping_torg12__font_size_rightCodeValue: 3.4mm;




/**
 * 1px = 0,26458mm
 */

$df_shipping_torg12__line_size_normal: 0.26458mm;

$df_shipping_torg12__line_size_thick: (3 * $df_shipping_torg12__line_size_normal);



@mixin df_shipping_torg12__font_normalValue {

	font: {
		size: $df_shipping_torg12__font_size_normal;
		style: italic;
	}

}






.df {

	.df-shipping-torg12 {

		width: $df_shipping_torg12__width;
		/*height: 210mm;*/
		margin: 0 auto;
		padding: 5mm 10mm;
		border: $df_shipping_torg12__line_size_normal solid gray;

		font-family: 'arial';


		.df-breakAfter {
        	page-break-after: always;
		}


		.df-breakBefore {
        	page-break-before: always;
        	page-break-inside: avoid;
		}


		.df-label-with-line {
			font-size: $df_shipping_torg12__font_size_labelBottom;
			border-top: $df_shipping_torg12__line_size_normal solid black;
			text-align: center;
			margin: 0 0 1mm 0;
		}


		.df-line-thick {
			border-top: $df_shipping_torg12__line_size_thick solid black;
		}


		.df-row {
			width: 100%;
			overflow: hidden;
			display: block;

			.df-field {

				overflow: hidden;

				.df-label-left {
					float: left;
				}

				.df-label-right {
					float: left;
				}


				.df-input-container {
					float: left;

					.df-input {
						@include df_shipping_torg12__font_normalValue;
						text-align: center;
					}
				}
			}
		}

	}
}