
.df {
	.df-shipping-torg12 {

  		.df-footer {
  		    margin: 3mm 0 0 0;
			font-size: $df_shipping_torg12__font_size_labelLeft;
		}
	}
}


@import 'footer/_top';
@import 'footer/_bottom';

