@import '_common';


.df {

	.df-shipping-torg12 {


	    .df-errors {

	     	position: absolute;
	   		top: 0;

			color: red;

			li {
				margin: 0.75em 0;
			}
	    }



		.df-title-container {

			width: 100%;
			overflow: hidden;

			.df-title {

				float: right;
				width: 63mm;

				font-style: italic;
				font-size: $df_shipping_torg12__font_size_normal;
				text-align: right;

				h1 {
					font-weight: bold;
					font-style: italic;
				}
			}
		}


		.df-heading {



            $rightColumnNegativeLeftMargin: 45mm;


			width: $df_shipping_torg12__width + $rightColumnNegativeLeftMargin;
			overflow: hidden;
			margin: 2mm 0 20mm 0;


			.df-heading-left {

				float: left;

				margin: 9.3mm 0 0 0;

				.df-rows {

					.df-row {

						font-size: $df_shipping_torg12__font_size_normal;


						.df-input {

							width: 160mm + $rightColumnNegativeLeftMargin;

						}


						.df-input-with-2-lines {
							line-height: 3.5mm;
						}





						.df-field-with-left-label {

							float: left;
							width: 183.2mm + $rightColumnNegativeLeftMargin;
							overflow: hidden;


							.df-label {
								float: left;
								font-size: $df_shipping_torg12__font_size_labelLeft;
							}


							.df-input-container {
								float: right;
							}

						}

					}


					.df-row-2 {
						margin: -0.25mm 0 0.25mm 0;

						.df-input {
							text-align: center;
						}
					}




					.df-row-3
	                ,
	             	.df-row-5
					{
						.df-input-container {
							.df-input {
								height: 7mm;
							}
						}
					}



					.df-row-6 {
						margin: -1.5mm 0 0 0;
						padding: 0.15mm 0 0 0;
					}


					.df-row-consignee {

						.df-input {
							width: 197mm;
						}

					}

				}

			}



			.df-heading-right {
				width: 90mm;
				position: relative;
				float: right;
				z-index: 1;
				left: -1 * $rightColumnNegativeLeftMargin;

				.df-rows {

					li.df-row {

						.df-fields {
							width: 100%;
							overflow: hidden;

	         				.df-field {
	         					float: right;
	         				}

	         				.df-field-value {
								width: 27mm;
								padding: 0.5mm 0;
								text-align: center;

								border: {
									top: $df_shipping_torg12__line_size_normal solid black;
									left: $df_shipping_torg12__line_size_thick solid black;
									right: $df_shipping_torg12__line_size_thick solid black;
									bottom: none;
								}

		               			font-size: $df_shipping_torg12__font_size_rightCodeValue;
		            			line-height: 4mm;
	         				}

	         				.df-field-label {
								padding: 0 2mm 0 0;
								text-align: right;
								font-size: $df_shipping_torg12__font_size_labelLeft;
								line-height: 4mm;
	         				}

						}
					}


					li.df-row-1 {
						.df-fields {
							.df-field-value {
								border-left: $df_shipping_torg12__line_size_normal solid black;
		                    	border-right: $df_shipping_torg12__line_size_normal solid black;
		               			margin: 0 0mm 0 0;
		            			width: 28mm;
							}
						}
					}



					li.df-row-2 {
						.df-fields {
							.df-field-value {
								border-top: $df_shipping_torg12__line_size_thick solid black;
							}
						}
					}



					li.df-row-4 {
						.df-fields {
							.df-field-value {
								height: 6.1mm;
								border-bottom: $df_shipping_torg12__line_size_normal solid black;
							}
							.df-field-label {
								width: 17mm;
								height: 8mm;
								border-bottom: $df_shipping_torg12__line_size_normal solid black;
							}
						}
					}



					li.df-row-5 {

						.df-fields {

							.df-field-value {
								border-top: none;
							}

							.df-field-label {

							}
						}
					}




					li.df-row-5,
					li.df-row-6	 {
						.df-fields {

							.df-field-label {
								padding-top: 1.2mm;
							}

							.df-field-value {
								padding-top: 1.2mm;
							}

						}
					}





					li.df-row-7,
					li.df-row-8	 {
						.df-fields {

							.df-field-label
							,
							.df-field-value	{
								padding-top: 3.5mm;
								padding-bottom: 3.5mm;
							}

						}
					}


					li.df-row-9
	                ,
	             	li.df-row-10
	           		,
					li.df-row-11
	                ,
	             	li.df-row-12
	           		,
	           		li.df-row-13 {

						.df-fields {

							.df-field-label {
								border: $df_shipping_torg12__line_size_normal solid black;
								border-right: none;
								border-bottom: none;
								width: 16.7mm;
							}


			             	.df-field-label-2 {
			             	    border: 0;
			         			width: auto;
			             	}


							.df-field-value {

							}

							.df-field-value
							,
							.df-field-label {
								padding-top: 1.3mm;
								padding-bottom: 1.3mm;
							}

						}
					}




					li.df-row-9
	                ,
	             	li.df-row-10
	           		,
					li.df-row-11
	                ,
	             	li.df-row-12 {

						.df-fields {

							.df-field-label-1 {
								border-left: $df_shipping_torg12__line_size_thick solid black;
							}

						}
					}






					li.df-row-9
	                ,
	             	li.df-row-11
	           		,
	          		li.df-row-12
					{

						.df-fields {

							.df-field-label {
								border-top: $df_shipping_torg12__line_size_thick solid black;
							}

							.df-field-label-2 {
								border: none;
							}

						}

					}





	           		li.df-row-13 {

						.df-fields {

							.df-field-label {
								border-left: none;
								border-top: none;
								width: auto;
							}

							.df-field-value {
							    border-top: none;
							    border-bottom: $df_shipping_torg12__line_size_thick solid black;
							}

						}
					}




					li.df-row-3
					,
					li.df-row-4
					,
					li.df-row-7
					,
					li.df-row-9
					,
					li.df-row-11
					,
					li.df-row-12
					 {
						.df-fields {
							.df-field-value {
								border-top: $df_shipping_torg12__line_size_thick solid black;
							}
						}
					}




	           		li.df-row-12 {

						.df-fields {

							.df-field-label {
								border-bottom: $df_shipping_torg12__line_size_thick solid black;
							}

							.df-field-value {
							    border-bottom: $df_shipping_torg12__line_size_thick solid black;
							}

						}
					}




				}

			}



		}


	}

}