<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
**/

    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();

    $_coreHelper = $this->helper('core');

    $_price    = $_product->getPrice();


?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
    <div class="product-essential">
    <form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>

        <div class="product-shop">

            <div class="product-name">
                <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
            </div>

            <?php if ($_product->getShortDescription()):?>
                <div class="short-description">
<?php 
// echo $this->__('Quick Overview');
?>
			<div class="holder-price">
	                    <?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
			</div>
                </div>
            <?php endif;?>

<span class="priceview">Цена: 
<? 
	echo $_coreHelper->currency($_price, true, true);

?></span>

            <?php // echo $this->getChildHtml('alert_urls') ?>
            <?php // echo $this->getChildHtml('product_type_data') ?>
            <?php // echo $this->getTierPriceHtml() ?>
            <?php // echo $this->getChildHtml('extrahint') ?>



            <?php if (!$this->hasOptions()):?>
                <div class="add-to-box">

                    <?php if($_product->isSaleable()): ?>
                        <?php echo $this->getChildHtml('addtocart') ?>

                        <?php if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                            <span class="or"><?php echo $this->__('OR') ?></span>
                        <?php endif; ?>

                    <?php endif; ?>


                </div>
<div style="display:block; float:right">
            <?php echo $this->getChildHtml('addto') ?>
</div>
            <?php else:?>

                <?php echo $this->getChildHtml('addto') ?>
            <?php endif; ?>

<div style="display:block; float:left;padding: 0 25px 0 0;">
            <?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
</div>

<div style="display:block; float:left;">
            <?php if ($this->canEmailToFriend()): ?>
                <a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><?php echo $this->__('Email to a Friend') ?></a>
            <?php endif; ?>
</div>

<div style="clear:both;"></div>
<br>
<?php 
	        echo $this->getChildHtml('description');
?>
        <?php echo $this->getChildHtml('additional') ?>

            <?php // echo $this->getChildHtml('other');?>

            <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php  echo $this->getChildChildHtml('container1', '', true, true) ?>
            <?php endif;?>

  	    <?php if ($_product->isSaleable() && $this->hasOptions()):?>
            	<?php  echo $this->getChildChildHtml('container2', '', true, true) ?>
	    <?php endif;?>
		
        </div>

        <div class="product-img-box">
            <?php echo $this->getChildHtml('media') ?>
        </div>
 
        <div class="clearer"></div>
       
    </form>
    <script type="text/javascript">
    //<![CDATA[
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function(){
                    if (this.validator.validate()) {
                            this.form.submit();
                    }
            }.bind(productAddToCartForm);
    //]]>
    </script>
    </div>

    <div class="product-collateral">
        <?php // echo $this->getChildHtml('info_tabs') ?>
        <?php // echo $this->getChildHtml('product_additional_data') ?>
        <?php  echo $this->getChildHtml('upsell_products') ?>

    </div>

</div>
