/* CMS ============================================================================= */
.cms-home .col1-layout,
.cms-index-index .col1-layout { border:0; }
/*.cms-home .col1-layout .std,
.cms-index-index .col1-layout .std { border:1px solid #cbc0b2; }*/
.cms-home .main .std .messages,
.cms-index-index .main .std .messages { margin-top:0; }
.cms-home .top-callout,
.cms-index-index .top-callout { margin-bottom:6px; }
.cms-home .col1-layout .col-main,
.cms-index-index .col1-layout .col-main { padding:0; }

.cms-index-index .col2-set {}
.cms-home .col2-set .col-1,
.cms-index-index .col2-set .col-1 { width:705px; }
.cms-home .col2-set .col-2,
.cms-index-index .col2-set .col-2 { width:244px; border:1px solid #d9d7ca; border-left:0; margin-left:-244px; }
.cms-home .col2-set .col-2 img,
.cms-index-index .col2-set .col-2 img { display:block; margin:6px auto; }

.cms-home .col1-layout .category-view,
.cms-index-index .col1-layout .category-view { margin:0 0 20px; }
.cms-home .col1-layout .page-title,
.cms-index-index .col1-layout .page-title { margin:3px 0 0; }
.cms-home .col1-layout .products-grid,
.cms-index-index .col1-layout .products-grid { margin:0; border:1px solid #cbc0b2; border-top:0; padding-top:20px; padding-bottom:20px; }
.cms-home .col1-layout .products-list,
.cms-index-index .col1-layout .products-list { margin:0; border:1px solid #cbc0b2; border-top:0; padding-top:20px; }

.cms-hp-touchsmart-iq506-has-arrived .col-main { padding:0; }
.cms-hp-touchsmart-iq506-has-arrived .main { margin-top:0; }
.cms-hp-touchsmart-iq506-has-arrived .breadcrumbs { display:none; }



.df-cms-menu-wrapper {

    width: 100%;

	.cms-menu {
		margin: 0 0 14px 0;
		padding: 15px;
		border: 1px solid #d1d1d1;
		background:#fff url(../../images/cms/bkg_cms-menu.gif) 0 0 repeat-x;
		font-size:12px;
		list-style-position:inside;
	}

	.cms-menu li { color:#999; margin:3px 0; }
	/*.cms-menu li span { color:#444; }*/
	.cms-menu li.parent > a,
	.cms-menu li.parent > strong { background:url(../../images/cms/bkg_cms-menu-arrow-down.gif) 100% 50% no-repeat; padding-right:13px; }
	.cms-menu li strong { font-size:13px; font-weight:bold; color:#333; }
	.cms-menu li ul,
	.cms-menu li ol { padding-left:15px; margin-bottom:7px; list-style-position:inside; }
	/* CMS Menu Types */
	ol.cms-menu.type-1 { list-style-type:decimal; }
	ol.cms-menu.type-1 ol { list-style-type:decimal; }
	ol.cms-menu.type-a { list-style-type:lower-alpha; }
	ol.cms-menu.type-a ol { list-style-type:lower-alpha; }
	ol.cms-menu.type-A { list-style-type:upper-alpha; }
	ol.cms-menu.type-A ol { list-style-type:upper-alpha; }
	ol.cms-menu.type-i { list-style-type:lower-roman; }
	ol.cms-menu.type-i ol { list-style-type:lower-roman; }
	ol.cms-menu.type-I { list-style-type:upper-roman; }
	ol.cms-menu.type-I ol { list-style-type:upper-roman; }

	ul.cms-menu.type-circle { list-style-type:circle; }
	ul.cms-menu.type-circle ul { list-style-type:circle; }
	ul.cms-menu.type-disc { list-style-type:disc; }
	ul.cms-menu.type-disc ul { list-style-type:disc; }
	ul.cms-menu.type-square { list-style-type:square; }
	ul.cms-menu.type-square ul { list-style-type:square; }


}


/* ======================================================================================= */
