<?php /** @var Df_Sales_Block_Order_Email_Comments $this */ ?>

<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="325">
			<thead>
				<tr>
					<th
						align="left"
						width="325"
						bgcolor="#EAEAEA"
						style="font-size:13px;
						padding:5px 9px 6px 9px;
						line-height:1em;"
					><?php echo df_mage()->salesHelper()->__ ('Order Comments'); ?></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td
						valign="top"
						style="font-size:12px;
						padding:7px 9px 9px 9px;
						border-left:1px solid #EAEAEA;
						border-bottom:1px solid #EAEAEA;
						border-right:1px solid #EAEAEA;"
					>
						<?php echo $this->getComments(); ?>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
<p style="font-size:12px; margin:0 0 10px 0">&nbsp;</p>


