@import '../../_common.scss';


.df {

	.df-shipping-torg12 {

  		.df-footer {

			.df-footer-bottom {

				.df-footer-bottom-right {


					.df-row-1 {


						.df-field-1 {
						    float: left;
							width: 80mm;


							.df-input-container {
								width: 44mm;
								margin-left: 2mm;
								margin-right: 1mm;
							}
						}



						.df-field-2
						,
						.df-field-3
						,
						.df-field-4 {
							float: right;
						}
					}


                    li.df-row-2 {

                        margin-top: 3.2mm;

                        .df-input-container {
							float: right;
							width: 117mm;
                        }
                    }




                    li.df-row-3 {
                        .df-input-container {
							width: 100%;
                        }
                    }




                    li.df-row-4 {
						margin-top: 2.5mm;
                        .df-input-container {
							width: 100%;
                        }
                    }




                    li.df-row-5 {

                        margin-top: 5.5mm;

                        .df-field-1 {
							float: left;
							margin-right: 4mm;

							.df-input-container {
							    margin-left: 2mm;
								width: 37mm;
							}
                        }


                        .df-field-2 {
							float: left;
							width: 26.3mm;

							.df-input-container {
								width: 100%;
							}
                        }

                        .df-field-3 {
							float: right;
							width: 45mm;

							.df-input-container {
								width: 100%;
							}
                        }
                    }




                    li.df-row-6 {

                        margin-top: 2.5mm;

                        .df-field-1 {
							float: left;
							margin-right: 4mm;

							.df-input-container {
							    margin-left: 2mm;
								width: 30mm;
							}
                        }


                        .df-field-2 {
							float: left;
							width: 19mm;

							.df-input-container {
								width: 100%;
							}
                        }

                        .df-field-3 {
							float: right;
							width: 32mm;

							.df-input-container {
								width: 100%;
							}
                        }
                    }

                    
				}   


			}        
								

  		}

	}
}