<?php /** @var Df_Torg12_Block_Frontend_Torg12_Footer_Bottom_Left $this */ ?>


<ul class='df-footer-bottom-left df-rows'>

	<li class='df-row df-row-1'>
		<div class='df-field'>

			<div class='df-label-left'>
				Приложение (паспорта, сертификаты и т.п.) на
			</div>


			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					один
				</div>
				<div class='df-label-with-line'>(прописью)</div>
			</div>


			<div class='df-label-right'>
				листах
			</div>

		</div>
	</li>



	<li class='df-row df-row-2'>
		<div class='df-field'>

			<div class='df-label-left'>
				Всего отпущено на сумму
			</div>


			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo $this->getGetOrderPriceIntegerPartLine1InWords (); ?>
				</div>
				<div class='df-label-with-line'>(прописью)</div>
			</div>

		</div>
	</li>




	<li class='df-row df-row-3'>

		<div class='df-field df-field-1'>
			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo $this->getGetOrderPriceIntegerPartLine2InWords (); ?>
				</div>
				<div class='df-label-with-line'></div>
			</div>
			<div class='df-label-right'>
				руб.
			</div>
		</div>


		<div class='df-field df-field-2'>
			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php
						echo $this->getOrderPriceFractionalPart ();
					?>
				</div>
				<div class='df-label-with-line'></div>
			</div>
			<div class='df-label-right'>
				коп.
			</div>
		</div>
	</li>




	<li class='df-row df-row-4'>

		<div class='df-field df-field-1'>

			<div class='df-label-left'>
				Отпуск груза разрешил
			</div>


			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo df_cfg()->torg12()->getManagerPosition(); ?>
				</div>
				<div class='df-label-with-line'>(должность)</div>
			</div>

		</div>


		<div class='df-field df-field-2'>
			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					Иванов
				</div>
				<div class='df-label-with-line'>(подпись)</div>
			</div>
		</div>


		<div class='df-field df-field-3'>
			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo df_cfg()->torg12()->getManagerName(); ?>
				</div>
				<div class='df-label-with-line'>(расшифровка подписи)</div>
			</div>
		</div>
	</li>




	<li class='df-row df-row-5'>

		<div class='df-field df-field-1'>

			<div class='df-label-left'>
				Главный (старший) бухгалтер
			</div>

		</div>


		<div class='df-field df-field-2'>
			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					Иванов
				</div>
				<div class='df-label-with-line'>(подпись)</div>
			</div>
		</div>


		<div class='df-field df-field-3'>
			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo df_cfg()->torg12()->getAccountantName(); ?>
				</div>
				<div class='df-label-with-line'>(расшифровка подписи)</div>
			</div>
		</div>
	</li>




	<li class='df-row df-row-6'>

		<div class='df-field df-field-1'>

			<div class='df-label-left'>
				Отпуск груза произвел
			</div>


			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo df_cfg()->torg12()->getGiverPosition(); ?>
				</div>
				<div class='df-label-with-line'>(должность)</div>
			</div>

		</div>


		<div class='df-field df-field-2'>
			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					Иванов
				</div>
				<div class='df-label-with-line'>(подпись)</div>
			</div>
		</div>


		<div class='df-field df-field-3'>
			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo df_cfg()->torg12()->getGiverName(); ?>
				</div>
				<div class='df-label-with-line'>(расшифровка подписи)</div>
			</div>
		</div>
	</li>




	<li class='df-row df-row-7 df-row-stamp'>

		<div class='df-field df-field-1'>
			<div class='df-label-left'>
				М.П.
			</div>
		</div>



		<div class='df-field df-field-2 df-field-date-day'>

			<div class='df-label-left'>
				«
			</div>


			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo $this->getDateFormatter()->getDayWith2Digits (); ?>
				</div>
				<div class='df-label-with-line'></div>
			</div>


			<div class='df-label-right'>
				»
			</div>

		</div>



		<div class='df-field df-field-3 df-field-date-month'>
			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo $this->getDateFormatter()->getMonthInGenetiveCase (); ?>
				</div>
				<div class='df-label-with-line'></div>
			</div>
		</div>


		<div class='df-field df-field-4 df-field-date-year'>

			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo $this->getDateFormatter()->getYear (); ?>
				</div>
				<div class='df-label-with-line'></div>
			</div>


			<div class='df-label-right'>
				года
			</div>

		</div>
	</li>

</ul>