<?php /** @var Df_Torg12_Block_Frontend_Torg12_Footer_Bottom_Right $this */ ?>


<ul class='df-footer-bottom-right df-rows'>

	<li class='df-row df-row-1'>

		<div class='df-field df-field-1'>

			<div class='df-label-left'>
				По доверенности №
			</div>

			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo $this->getEmptyValue(9); ?>
				</div>
				<div class='df-label-with-line'></div>
			</div>

			<div class='df-label-right'>
				от
			</div>

		</div>






		<div class='df-field df-field-4 df-field-date-year'>

			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo $this->getEmptyValue(3); ?>
				</div>
				<div class='df-label-with-line'></div>
			</div>


			<div class='df-label-right'>
				года
			</div>

		</div>




		<div class='df-field df-field-3 df-field-date-month'>
			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo $this->getEmptyValue(5); ?>
				</div>
				<div class='df-label-with-line'></div>
			</div>
		</div>



		<div class='df-field df-field-2 df-field-date-day'>
			<div class='df-label-left'>
				«
			</div>

			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo $this->getEmptyValue(1); ?>
				</div>
				<div class='df-label-with-line'></div>
			</div>

			<div class='df-label-right'>
				»
			</div>
		</div>

	</li>




	<li class='df-row df-row-2'>
		<div class='df-field'>

			<div class='df-label-left'>
				выданной
			</div>


			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo $this->getEmptyValue(); ?>
				</div>
				<div class='df-label-with-line'>
					(кем, кому (организация, должность, фамилия, и., о.))
				</div>
			</div>

		</div>
	</li>




	<li class='df-row df-row-3'>
		<div class='df-field'>

			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo $this->getEmptyValue(); ?>
				</div>
				<div class='df-label-with-line'></div>
			</div>

		</div>
	</li>



	<li class='df-row df-row-4'>
		<div class='df-field'>

			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo $this->getEmptyValue(); ?>
				</div>
				<div class='df-label-with-line'></div>
			</div>

		</div>
	</li>




	<li class='df-row df-row-5'>

		<div class='df-field df-field-1'>

			<div class='df-label-left'>
				Груз принял
			</div>


			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo $this->getEmptyValue(); ?>
				</div>
				<div class='df-label-with-line'>(должность)</div>
			</div>

		</div>


		<div class='df-field df-field-2'>
			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					&nbsp;
				</div>
				<div class='df-label-with-line'>(подпись)</div>
			</div>
		</div>


		<div class='df-field df-field-3'>
			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo $this->getShippingAddressFormatter()->getCustomerNameWithInitials(); ?>
				</div>
				<div class='df-label-with-line'>(расшифровка подписи)</div>
			</div>
		</div>
	</li>





	<li class='df-row df-row-6'>

		<div class='df-field df-field-1'>

			<div class='df-label-left'>
				Груз получил грузополучатель
			</div>


			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo $this->getEmptyValue(); ?>
				</div>
				<div class='df-label-with-line'>(должность)</div>
			</div>

		</div>


		<div class='df-field df-field-2'>
			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					&nbsp;
				</div>
				<div class='df-label-with-line'>(подпись)</div>
			</div>
		</div>


		<div class='df-field df-field-3'>
			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					<?php echo $this->getShippingAddressFormatter()->getCustomerNameWithInitials(); ?>
				</div>
				<div class='df-label-with-line'>(расшифровка подписи)</div>
			</div>
		</div>
	</li>




	<li class='df-row df-row-7 df-row-stamp'>

		<div class='df-field df-field-1'>
			<div class='df-label-left'>
				М.П.
			</div>
		</div>



		<div class='df-field df-field-2 df-field-date-day'>

			<div class='df-label-left'>
				«
			</div>


			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					&nbsp;
				</div>
				<div class='df-label-with-line'></div>
			</div>


			<div class='df-label-right'>
				»
			</div>

		</div>



		<div class='df-field df-field-3 df-field-date-month'>
			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					&nbsp;
				</div>
				<div class='df-label-with-line'></div>
			</div>
		</div>


		<div class='df-field df-field-4 df-field-date-year'>

			<div class='df-input-container'>
				<div class='df-input df-input-with-1-line'>
					&nbsp;
				</div>
				<div class='df-label-with-line'></div>
			</div>


			<div class='df-label-right'>
				года
			</div>

		</div>
	</li>


</ul>