body.df-theme-8theme-gadget {

	.cart {
		.totals {

			tfoot {
				th {
					strong {
						font-size: 16px;
					}
				}
				td {
					strong {
						font-size: 16px;
					}
				}
			}
		}
	}

	h2.supertab {
		text-transform: lowercase;
	}


	.product-view {

		.add-to-links {
			backgrround: yellow;
			margin: {
				right: 30px;
			}
		}

		ul.product-tabs {
			li {
				a {
					text-transform: lowercase;
				}
			}
		}

		.product-tabs-content {
			a {
				color: rgb(86, 156, 189);
				text-decoration: underline;
			}
		}

		.shop-container {
			h2.supertab {
				display: none;
			}
		}
	}

}