@import 'waiter';


#checkout-progress-state {
	text-transform: lowercase;
}


.cms-home {
	.std {
		.category-products {

			ul {
				padding: {
					left: 0;
				}

				li {
					list-style: {
						type: none;
					}
				}
			}

			.products-grid {
				margin: {
					left: 0;
				}
			}
		}
	}
}



.customer-account-index {
	.welcome-msg {
		display: none;
	}
}



.data-table {
	th {
		text-transform: lowercase;

	}
}


.form-list {
	label {
		text-transform: lowercase;
	}
}



.newsletter-manage-index {
	.my-account {
		h2.legend {
			display: none;
		}
	}
}


