<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct()
?>

<?php if($_additional = $this->getAdditionalData()): ?>
<div class="block">    
  <div class="block-title">
	<span><?php echo $this->__('Additional Information') ?></span>
  </div>

  <div class="block-content">
    <table class="data-table" id="product-attribute-specs-table">
        <col width="45%" />
        <col />
        <tbody>
        <?php foreach ($_additional as $_data): ?>
            <tr>
                <th class="label" align=left><?php echo $this->htmlEscape($this->__($_data['label'])); ?></th>
                <td class="data"><?php echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
                <?php 

//echo '<td class="data"><pre><small>';
// var_dump($_data);
//echo '</small></pre></td>';

?>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
  </div>
</div>
    <script type="text/javascript">decorateTable('product-attribute-specs-table')</script>
<?php endif;?>
