<?php $_description = $this->getProduct()->getDescription(); ?>
<?php if ($_description): ?>
<div class="block">

<?
//echo '<div class="block-title"><span>';
// echo $this->__('Details');
//echo '</span></div>';

?>
  <!-- div class="block-content" -->
        <?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $_description, 'description') ?>
  <!-- /div -->
</div>
<?php endif; ?>
