<?php /** @var Df_Pd4_Block_LinkToDocument_ForAnyOrder $this */ ?>


<div class='df'>
	<div class='df-pd4'>
		<div class='df-order-info'>
			<a
				class='df-link-to-document'
				title='Распечатать платёжную форму ПД-4'
				target='_blank'
				href='<?php echo $this->getPaymentDocumentUrl(); ?>'
			>Распечатать платёжную форму ПД-4</a>
		</div>
	</div>
</div>

